*{
    margin: 20px;
    padding: 10px;
    background-position: 50px;
}
img{
    width:250px;
    height:250px;
    /* position: center; */
    object-position: center;
    float: left;
    object-fit: none;
}
Header{
    flex: content;
    width: 100px;
    padding: 50px;
}